$footerBackgroundColor: #000 !default;
$footerContentColor: #fff !default;
$footerLinkColor: #000 !default;
$footerHoverColor: #000 !default;

$copyrightBackgroundColor: #000 !default;
$copyrightContentColor: #000 !default;
$copyrightLinkColor: #000 !default;
$copyrightHoverColor: #000 !default;
$copyrightSeparatorColor: #000 !default;

/* footer */
footer {
	z-index: 7;
	font-weight: 300;
	background-color: $footerBackgroundColor;
	color: $footerContentColor;
	
	a {
		color: $footerLinkColor;
		&:hover { color: $footerHoverColor;}
	}
	
	.social a:after {
		@include transition-duration( 0.4s );
		@include transition-timing-function( $ease-out-back );
	}
}


/* copyright */
.copyright { 
	background-color: $copyrightBackgroundColor;
	color: $copyrightContentColor;
	position: relative; 
	font-size: 12px; 
	text-transform: uppercase; 
	padding: 20px 0; 
	cursor: default; 
	margin-top: 20px; 
	
	a {
		color: $copyrightLinkColor;
		&:hover { color: $copyrightHoverColor; }
	}
	
	ul {
		position: relative; 
		z-index: 10; 
		display: inline-block;
	}
	
	li {
	
		display: inline-block; 
		border-left: 1px solid $copyrightSeparatorColor;
		margin-right: -0.25em; 
		margin-left: 5px; 
		padding-left: 5px; 
		line-height: 1;
	
		&:first-child {
			margin-left:0; 
			padding:0; 
			border: none; 
		}
	
	}
	
}

#jac { position: absolute; right:0; top:50%; margin-top: -12px;  width: 186px; height: 25px; background-size: 186px 50px; z-index: 10; }

@media screen and (max-width: 800px) {
	.copyright li { display: block; border: none; margin:0; padding:4px 0 !important; font-size: 14px;}
}

@media screen and (max-width: 600px) {
	.copyright { text-align: center; }
	#jac { position: static; display: block; right:0; margin: 20px auto 0;}
}

/* footer blocks */
footer { 
	border-top: 4px solid lighten($blueColor,10); 
}
.footer-blocks {
	padding: 40px 0;
	@include display( flex );
	@include flex-flow( row wrap );
	@include align-items( center );
}

.footer-block {
	padding: 20px 0;
	@include flex( 1 0 33.3333% );
}

.footer-block:first-child + .footer-block {
	@include flex-basis( 375px );
	width: 375px;
	max-width: 100%;
}

.footer-callout { 
	text-align: center; 
	p { font-size: 24px; }
}

.footer-nav { 
	padding: 0 10px;
	text-align: center;
	
	li {
		width: 50%; 
		display: block; 
		float: left; 
	}
	
	a {
		padding: 8px;
		border-radius: 4px;
		display:block;
		@include transition( 0.2s background $ease-in-out-sine );
		&:hover {
			color: #fff;
			background: $darkBlueColor;
		}
	}
}

.footer-logo {
	width: 140px;
	margin-right: 20px;
}

.footer-logo,
.footer-contact {
	display: inline-block;
	vertical-align: middle;
}

@media screen and (max-width: 600px) {

	.footer-logo {
		display: block;
		margin: 15px auto;
	}

	.footer-contact {
		display: block;
		text-align: center;
	}
}