.body,
.grad {
	@include linear-gradient( to bottom, #ebf2f6 0px, #fff 500px );
	background-size: auto 100%;
}

.copyright {
	border-top: 1px solid $darkBlueColor;
}

.box {
	background: #fff;
	box-shadow: 0 0 8px rgba(0,0,0,0.4); 
	padding: 25px;
}

.fader-wrap {
	padding-bottom: 25px;
	position:relative;
	&:after {
		content:"";
		position:absolute;
		bottom:0; left:0; right:0;
		height: 25px;
		z-index: 1;
		background: $blueColor;
	}
}

.fader-nav {
	position:absolute;
	left:0; right:0; bottom: 25px;
	text-align:center;
	
	.home & {
		bottom:0;
		z-index: 3;
		.slick-dots { background: transparent; }
	}
	
	.slick-dots {
		position: static;
		display: inline-block;
		width: auto;
		background: rgba($blueColor,0.9);
		border-radius: 4px 4px 0 0;
		padding: 0 6px 2px;
		
		li { 
			display: inline-block;
			height:20px; width: 20px;
			margin:0;
			
			button {
				border: 0;
				display: block;
				margin: 0 auto;
				width: 12px; height: 12px;
				outline: none;
				line-height:0;
				color: transparent;
				cursor: pointer;
				font-size: 0;
				text-indent: -999em;
				overflow: hidden;
				border-radius: 50%;
				background: #fff;
				@include transition( 0.2s background $ease-in-out-sine );
			}
			
			&:hover,
			&.slick-active {
				button {
					background: $orangeColor;
				}
			}
			
		}
		
	}
}

.big-fader {
	height: 100vh;
	min-height: 500px;
	max-height: 800px;
	margin:0;
}

.fader { 
	margin-bottom:0; 
	
	.slick-list,
	.slick-track { 
		height: 100%; 
		
		.home & { overflow: visible; }
	}
	
}

.hero .clickable-image {
	position: absolute;
	top:0; left:0; right:0; bottom:0;
	z-index: 2;
}

.little-fader {
	height: 35vh;
	min-height: 300px;
	max-height: 500px;
}


.fader-item {
	position: relative;
	
	&.bgel,
	.bgel {
		background: center no-repeat;
		background-size: cover;
		opacity:0;
		@include transition( 0.3s opacity $ease-in-out-sine );
		&.loaded { opacity:1; }
	}
}

.acc.inv {
	&>.acc-item {
		&>.acc-item-handle:before { color: $blueColor; }
	}
	.acc-item-handle { 
		color: $blueColor;
		background: transparent;
		border: none;
	}
	
	.acc-item-content {
		border: none;
	}
}

.archives-mod .acc {

	margin: 0 -25px;

	.acc-item-handle {
		font-weight: bold;
		padding-left: 25px;
		padding-right: 25px;
		&:before {
			font-size: 16px !important;
		}
	}
	
	.acc-item-content {
		padding:0 25px 5px;
	}
	
}

.sidebar .mod a {
	display: block;
	padding: 5px 25px;
	margin: 0 -25px;
	color: $blueColor;
	
	&:hover {
		color: #fff;
		background: $blueColor;
	}
}

.hgroup {
	&.nopad { margin:0; }
	h1 { font-size: 26px; }
}

/* pages */
.error404 .body { 
	background: #fff; 
	section { padding:0; }
}

.goosepond-marker {
	position: absolute;
	width: 138px; height: 135px;
	background: url(../images/goose-pond-map-marker-shadow.png) center no-repeat;
}

.new-listing-banner {
	line-height:1;
	position:absolute;
	z-index:10;
	width: 100%;
	color: #fff;
	font-weight: bold;
	padding: 12px;
	background: $blueColor;
	text-transform: uppercase;
	text-align:center;
	left:10px; top:10px;
	@include linear-gradient( to right, $darkBlueColor, $blueColor );
	@include transform-origin( top left );
	@include transform( rotateZ(-45deg) translate3d(-50%,75%,0) );
	
	@media screen and (max-width: $blocksRemoveImgAtWidth) {
		a:not(.keep-img) & {
			position: static;
			@include transform( none );
			display: inline-block;
			width: auto;
			float: right;
			margin-left: 15px;
		}

	}
	
}

.blocks .box {
	padding:0;
}

.img-wrap.rounded {
	border-radius:50%;
	@include perspective(1px);
	
	.lazybg {
		height:0;
		padding:100% 0 0;
	}
}

.overview-half-block {
	text-align: center;
	color: currentColor;
	position: relative;
	padding: 20px 0 70px;
	
	
	@media screen and (min-width: $gridCollapseSmall) {
		div.col-2:nth-of-type(2n+1) &:after { 
			position:absolute;
			content:"";
			right: -20px; top:0; bottom:0;
			border-right: 1px solid #d4e3eb;
		}
	}
	
	.btn {
		position: absolute;
		bottom: 10px;
		left:0; right:0;
	}
	
	.img-wrap {
		width: 240px;
		max-width: 80%;
		margin: 0 auto 15px;
		overflow:hidden;
		
	}
	
}

section.img-section {
	margin: 0 auto;
	max-width: 95%;
	width: $wrapperWidth;
	@include display( flex );
	@include align-items( center );
	
	&:nth-of-type(2n+1) {
		.img-wrap { 
			@include order(-1); 
			margin: 0 50px 0 0;
		}
	}
	
	.content {
		@include flex( 1 1 auto );
	}
	
	.img-wrap {
		@include flex( 0 0 250px );
		margin: 0 0 0 50px;
	}
	
}

.inline-img {
	height: 50vh;
	max-height: 300px;
}

.bar-nav {
	background: #ced9df;
	.sw {
		@include display( flex );
		@include flex-flow( row wrap );
	}
	
	span,
	a {
		font-weight:500;
		font-size: 16px;
		display: block;
		padding: 25px 15px;
		color: #7b8e9a;
	}
	
	a.selected,
	a:hover {
		color: #fff;
		background: $blueColor;
	}
	
	@media screen and (max-width: 700px) {
		.sw { display: block; padding: 10px;}
		span,
		a { padding: 10px; }
	}

}

/* testimonials */
.testimonial {
	@include display( flex );
	@include align-items( flex-start );
	font-weight: 200;
	
	.img-wrap {
		@include flex( 0 1 200px );
		margin-right: 15px;
		
		@media screen and (max-width: 500px) {
			& { display:none; }
		}
		
	}
	
	blockquote {
		@include flex( 1 3 auto );
		@include display( flex );
		@include flex-flow( row wrap );
		
		cite {
			@include order(-1);
			@include flex( 0 0 100% );
			font-style: normal;
			font-weight:bold;
			font-size: 28px;
			margin: 0 0 10px;
			color: $blueColor;
		}
	}
	
}

/* filter sections */
.filter-bar {
	
	.count {
		text-transform: none;
		text-shadow: 1px 1px 4px rgba(0,0,0,0.2); 
	}
	
	.title {
		font-size: 24px;
		display: inline-block;
		padding-right: 12px;
		margin-right: 10px;
		position: relative;
		&:after {
			content:"";
			position: absolute;
			top: 12px; bottom: 12px; right:0;
			border-right: 1px solid #fff;
		}
		
	}
	
	.single-form {
		background: #e7edf0;
		width: 250px;
		
		input {
		   font-family: $defaultFontStack;
		   color: $blueColor;
		   font-weight:500;
		   padding: 12px;
		}
		
		::-webkit-input-placeholder {
		   font-family: $defaultFontStack,-webkit;
		   color: #7b8e9a;
		   font-weight:500;
		}

		::-moz-placeholder {
		   font-family: $defaultFontStack,-moz;
		   color: #7b8e9a;
		   font-weight:500;
		}

		:-ms-input-placeholder {  
		   font-family: $defaultFontStack,-ms;
		   color: #7b8e9a;
		   font-weight:500;
		}
		
		::placeholder {
		   font-family: $defaultFontStack,-placeholder;
		   color: #7b8e9a;
		   font-weight:500;		
		}
		
	}	

}

.filter-bar-buttons {
	display: inline-block;
	
	.selector,
	.button {
		vertical-align:middle;
		@include transition( none );
	}
	
	.selector {
		margin:0;
		background: #e7edf0;
		border-radius:4px;
		padding-top: 2px;
		padding-bottom: 1px;
		
		&:before { 
			color: $blueColor; 
			content: $fa-var-angle-down;
			right: 16px;
		}
		
		select:focus + .value,
		.value {
			font-weight:normal;
			color: $blueColor;
			font-size: 12px;
			text-transform:none;
		}
		
		&:hover {
			background: $blueColor;
			&:before,
			
			select:focus+.value,
			.value { color: #fff; }
			
			
			
		}
		
	}
	
}

.acc-item {
	border-radius: 6px;
	overflow:hidden;
}

.acc-item-content {
	border-radius: 0 0 6px 6px;
}

/* phases */
.phase-item {
	margin: 20px;
	height:0;
	padding: 0 0 60%;
	position: relative;
	cursor: pointer;
	display: block;
	
	@media screen and (max-width: 650px) {
		height: 175px; width: 250px;
		padding:0;
		margin: 10px auto 20px;
	}
	
	&:before {
		content:"";
		position: absolute;
		top: -6px; left: -6px; right: -6px; bottom: -6px;
		background: #000;
		border-radius: 6px;
		opacity: 0.1;
		z-index: -1;
	}
	
	&:after {
		content:"";
		position: absolute;
		top:0; left:0; right:0; bottom:0;
		background: #000;
		opacity:0.6;
		z-index: 1;
		@include transition( 0.2s opacity $ease-in-out-sine );
	}
	
	&:hover:after {
		opacity:0.4;
	}
	
	div {
		position: absolute;
		z-index: 2;
		top:0; left:0; right:0; bottom:0;
		@include display( flex );
		@include flex-flow( column nowrap );
		@include justify-content( center );
		@include align-items( center );
	}
	
	.title { 
		font-size: 24px;
		text-transform: uppercase;
		color: #fff;
	}
	
}

.phase-swiper .swiper {
	margin: 0 -20px;
	
	.slick-prev,
	.slick-next {
		@include t-fa-abs();
		width: 30px; height: 30px;
		position: absolute;
		top: 50%; margin-top: -35px;
		font-size: 24px;
	}
	
	.slick-prev {
		left: -30px;
		&:before { content: $fa-var-chevron-left; }
	}
	
	.slick-next {
		right: -30px;
		&:before { content: $fa-var-chevron-right; }
	}
	
}

/* lot map */
.lot-map {
	.hero & {
		margin:0; height:100%;
	}
}

.custom-info-window { 
	position: absolute; left:0; right:0; 
	display: inline-block; 
	z-index: 10; 
	color: $bodyContentColor; 
	width: 380px; 
	max-width: 85%; 
	visibility: hidden;
	
	&.visible { visibility: visible; }
	
	.pointer{
		position: absolute; 
		left: 0; right: 0; 
		display: block; 
		width: 0; height: 0; line-height: 0; 
		content:""; 
		overflow: hidden; border: 15px solid transparent; 	
	}
	
	&.above .pointer,
	&.below .pointer { border-width: 30px 15px; }
	
	&.left .pointer,
	&.right .pointer {
		border-width: 15px 30px; 
		top: 50%; 
		margin-top: -15px; 
		left: auto; right: auto;
	}
	
	&.above { 
		margin-top: -30px; 
		.pointer { border-top-color: #fff; bottom: -59px; }
	}
	&.below { 
		margin-top: 15px; 
		.pointer { border-bottom-color: #fff; top: -59px; }
	}
	&.left { 
		margin-left: -30px; 
		.pointer { border-left-color: #fff; right: -60px; }
	}
	&.right { 
		margin-left: 30px; 
		.pointer { border-right-color: #fff; left: -60px; }
	}
	
}

.custom-info-window-content { 
	background: #fff; 
	position: relative;
	cursor: default;
	
	.fa-close {
		position: absolute;
		top: 5px; right: 5px;
		width: 28px; height: 28px;
		font-size: 18px;
		color: $blueColor;
		cursor: pointer;
		&:hover {
			background: $blueColor;
			color: #fff;
		}
	}
	
	.lot-info {
		@include display( flex );
		
		.title {
			font-size: 18px;
			display: block;
			margin: 0 0 3px;
		}
		
		p {
			font-size: 14px;
		}
		
		.status { 
			display: inline-block; 
			color: #fff;
			text-transform: uppercase;
			margin: 0 0 4px;
			font-size: 12px;
			padding: 5px 10px;
			border-radius: 4px;
		}
		
		.price { 
			display: block; 
			margin: 0 0 4px;
			font-size: 16px;
			font-weight: bold;
		}
		
		.status.sold { background: #ce3030;}
		.status.available { background: #2eac24; }
		
		.price.sold { display: none; }
		
	}
	
	.lot-info-content {
		padding: 10px;
	}
	
	.lot-info-img {
		&.has-img-0 { display: none; }
		@include flex( 0 0 150px );
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}
	
}

.mobile-infowindow { 
	display: none;
	width: 100%;
	max-width: none;
	position: fixed;
	bottom:0; left:0; right:0; z-index: 10000;
	visibility: visible;
	@include transition( all 0.2s $ease-in-out-sine );
	@include transform( translate3d(0,100%,0) );
}

.mobile-infowindow.show {
	@include transform( none );
}

.button-dots { 
	.slick-dots { 
		@include display( flex ); 
		@include justify-content( center );
		li { margin: 0 3px;}
		button { 
			outline: none; 
			text-indent: -999em;
			width: 12px; height: 12px;
			border-radius: 50%;
			background: $blueColor;
			overflow: hidden;
		}
		
		.slick-active button {
			background: $orangeColor;
		}
	}
}


/* map */
.gooseweb-map-overlay {
	position: fixed;
	top:0; left:0;
	width: 100vw; height: 100vh;
	text-indent:0;
	background: #000;
	opacity:0;
	z-index: -1;
	@include transform( scale(0,0) );
	@include transition( all 0.4s $ease-in-out-sine );
	
	&:before {
		color: #fff;
		font-size: 64px;
		@include animation( fa-spin 2s infinite linear );
	}
	
	&.map-is-loaded:before { display: none; }
	
}

.show-map {
	
	height: 100vh;
	overflow: hidden;
	
	.gooseweb-map-overlay {
		z-index:100;
		opacity:1;
		@include transform( none );
	}
}

.gooseweb-map-header {
	position: absolute;
	top:0; left:0; right:0; height: 70px;
	text-align:center;
	
	.selector { 
		margin: 15px 0; 
		border: 1px solid #fff;
	}
	
	.fa-close {
		position: absolute;
		top: 10px; right: 10px;
		width: 40px; height: 40px;
		cursor: pointer;
		font-size: 32px;
		color: #fff;
		border-radius: 50%;
		&:hover {
			background: #fff;
			color: $blueColor;
		}
	}
}

.gooseweb-map {
	position: absolute;
	top:70px; left:0; bottom:0; right:0;
	opacity:0;
	@include transition( opacity 0.2s $ease-in-out-sine );
	.map-is-loaded & { opacity:1; }
	img { max-width: inherit; }
}

@media screen and (max-width: 700px) { 

	.gooseweb-map-header {
		height: 40px;
		.selector { margin: 2px 0; }
		.fa-close { top: 2px; }
	}

	.gooseweb-map {
		& { top: 40px; }
		a[title='Click to see this area on Google Maps'],
		.gm-style-cc { display: none !important; }
		
		.custom-info-window-parent { display: none !important; }
		
	}
	
	.mobile-infowindow { display: block; }
}

@media screen and (max-width: 540px) { 
	.mobile-infowindow .lot-info-img { display: none; }
}