/**
 Theme
 
 This framework has been developed based on the similarities
 between most JAC templates. It may not work well for templates
 that wildliy depart from the usual design, but it will no doubt still contain
 useful components. 
 
 Have Fun!
 
*/

/* Theme Specific Colors that we can use below */
$blueColor: #002e49;
$darkBlueColor: #001c2d;
$lightBlueColor: lighten($blueColor,10);
$orangeColor: #e48518;


/* grid */
$gridCollapseLarge: 1920px;
$gridCollapseMedium: 1400px;
$gridCollapseSmall: 750px;
$gridCollapseExtraSmall: 550px;

$gridClassMapping: (
	'lg' #{$gridCollapseLarge},
	'md' #{$gridCollapseMedium},
	'sm' #{$gridCollapseSmall},
	'xs' #{$gridCollapseExtraSmall}
);

/* fonts */
@mixin declare-font-face($font-family, $font-filename, $path, $font-weight : normal, $font-style :normal, $font-stretch : normal) {
	@font-face {
		font-family: $font-family;
		src: url('#{$path}#{$font-filename}.eot'); /* IE9 & compatibility modes */
		src: url('#{$path}#{$font-filename}.eot?#iefix') format('eot'), /* IE6-8 */
		url('#{$path}#{$font-filename}.woff2') format('woff2'), /* Blink */
		url('#{$path}#{$font-filename}.woff') format('woff'), /* Firefox, Opera */
		url('#{$path}#{$font-filename}.ttf') format('opentype'), /* Chrome */
		url('#{$path}#{$font-filename}.svg##{$font-filename}') format('svg'); /* Safari */
		font-weight: $font-weight;
		font-style: $font-style;
		font-stretch: $font-stretch;
	}
}

$defaultFontStack: Proxima Nova,helvetica,arial,sans-serif;

$collapseNavAt: 900px;

/* body */
$pageBackgroundColor: #d0d0d0;
$darkBackgroundColor: $blueColor;
$darkBackgroundContentColor: #fff;
$sectionSeparatorColor: $blueColor;
$darkSectionSeparatorColor: #fff;
$separatorColor: #ccc;

$bodyContentColor: #000;
$bodyBackgroundColor: #fff;

$wrapperWidth: 1200px;
$collapseNavAt: 900px;
$pageWrapperWidth: 1950px;

/* footer */
$footerBackgroundColor: $blueColor;
$footerContentColor: #fff;
$footerLinkColor: #fff;
$footerHoverColor: #fff;

$copyrightBackgroundColor: $blueColor;
$copyrightContentColor: #fff;
$copyrightLinkColor: #fff;
$copyrightHoverColor: $lightBlueColor;
$copyrightSeparatorColor: #fff;

/* headings */
$darkBackgroundHeadingColor: $darkBackgroundContentColor;
$headingFontStack: $defaultFontStack;
$headingColor: $blueColor;

$h1Size: 42px;
$h2Size: 36px;
$h3Size: 28px;
$h4Size: 22px;
$h5Size: 18px;
$h6Size: 16px;

/* for more fine-grained control of heading styles */
@mixin header-theme() { 
	font-weight:normal;
}
@mixin h1-theme() { }
@mixin h2-theme() { }
@mixin h3-theme() { }
@mixin h4-theme() { }
@mixin h5-theme() { }
@mixin h6-theme() { }

/* buttons */
/* Use these mixins to define button color, background color, etc */
@mixin button() {
	border-radius:4px;
	color: #fff;
	background-color: $orangeColor;
	border: 2px solid $orangeColor;
	
	&.blue {
		border-color: lighten($blueColor,5);
		background-color: lighten($blueColor,5);
	}
	
	.filter-bar &.selected {
		color: #fff;
		background: $blueColor;
	}
	
	.filter-bar & {
		background: #e7edf0;
		color: $blueColor;
		border: none;
		text-transform: none;
		font-size: 12px;
	}
	
}

@mixin buttonHover() {
	color: $orangeColor;
	background-color: transparent;
	
	.hero &,
	nav &,
	footer & { color: #fff; }
	
	&.blue { color: #fff; }
	
	.filter-bar & {
		color: #fff;
		background: $blueColor;
	}
	
	&.darken {
		color: #fff;
		border-color: $darkBlueColor;
		background: $darkBlueColor;
	}
	
}

/* article styles */
$sidebarWidth: 380px;
$sidebarCollapseWidth: 800px;

@mixin link-theme() {
	color: $orangeColor;
}

@mixin link-hover-theme() {
	color: $blueColor;
}

@mixin link-visited-theme() {
	color: darken($orangeColor,20);
}

@mixin link-active-theme() {
	color: darken($blueColor,10);
	text-decoration: none;
}

$darkBackgroundLinkColor: #000;
$darkBackgroundHoverColor: #000;
$darkBackgroundVisitedColor: #000;

/* excerpts */
$excerptColor: #{$bodyContentColor};

/* lists */
$listNumberColor: $blueColor;

/* breadcrumbs */

/* forms */
$fieldBackgroundColor: #fff;
$fieldTextColor: #{$bodyContentColor};
$fieldPlaceHolderColor: #aaa;
$fieldBorderColor: #ccc;
$fieldFocusedBackgroundColor: #fefefe;
$fieldSpacing: 10px;
$fieldPadding: 14px;

/* accordion */
$accHandleBorderWidth: 1px;
$accHandleBorderColor: $blueColor;
$accHandleColor: #fff;
$accHandleColorActive: #fff;

$accHandleBGColor: $blueColor;
$accHandleBGColorActive: darken($blueColor,10);

$accContentBorderWidth: 1px;
$accContentBorderColor: #ddd;
$accContentBGColor: #fff;

$accContentLinkColor: $blueColor;
$accContentLinkBGColor: transparent;

$accContentLinkActiveColor: #fff;
$accContentLinkActiveBGColor: $blueColor;

/* selector */
$selectorColor: #fff;
$selectorColorActive: #fff;
$selectorBackgroundColor: $blueColor;
$selectorBackgroundColorActive: darken($blueColor,10);

/* filter section */
$filterBarBackgroundColor: #d1d9dd;
$filterBarContentColor: #fff;

$filterControlBackgroundColor: transparent;
$filterControlBackgroundColorActive: transparent;
$filterControlColor: #fff;
$filterControlColorActive: #efefef;